.empty-state{

padding:90px 30px;

border:1px dashed #2a2a33;

border-radius:22px;

background:#101014;

text-align:center;
}

.empty-icon{

font-size:70px;

margin-bottom:22px;
}

.empty-state h2{

font-size:34px;

margin-bottom:14px;
}

.empty-state p{

color:#8b8b95;

max-width:550px;

margin:auto;

line-height:1.7;
}

.empty-features{

display:flex;

justify-content:center;

gap:26px;

margin-top:45px;

flex-wrap:wrap;
}

.feature{

width:170px;

padding:22px;

background:#17171d;

border:1px solid #26262d;

border-radius:18px;

transition:.3s;
}

.feature:hover{

transform:translateY(-4px);

border-color:#22c55e;
}

.feature span{

font-size:34px;

display:block;

margin-bottom:12px;
}

.feature p{

color:white;

font-size:15px;
}

@media(max-width:768px){

.empty-features{

flex-direction:column;

align-items:center;
}

.feature{

width:100%;
}

}