.health-banner{

margin-top:45px;

background:
#22c55e;
opacity:.8;
border:1px solid #23232b;

border-radius:28px;

padding:35px;

display:flex;

justify-content:space-between;

align-items:center;

overflow:hidden;

position:relative;
}

.health-banner::before{

content:"";

position:absolute;

right:-120px;

bottom:-120px;

width:340px;

height:340px;

background:radial-gradient(circle,
rgba(34,197,94,.18),
transparent 70%);
}

.health-left{

display:flex;

align-items:center;

gap:22px;

z-index:2;
}

.health-icon{

width:74px;

height:74px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

background:rgba(34,197,94,.12);

font-size:34px;

box-shadow:0 0 40px rgba(34,197,94,.15);
}

.health-left h3{

font-size:30px;

margin-bottom:8px;
}

.health-left p{

color:#90909b;

font-size:16px;

line-height:1.6;
}

.health-right{

font-size:22px;

font-weight:600;

color:#22c55e;

z-index:2;
}

@media(max-width:900px){

.health-banner{

flex-direction:column;

align-items:flex-start;

gap:25px;
}

}